.banner-bg {
    background-color: #003145;
    display: flex;
}

.reactangle {
    background-color: #FFCE5C;
    height: 115.91276550292969px;
    width: 9.714306831359863px;
    border-radius: 0px;

}

.banner-heading h2 {
    height: 112px;
    width: 643px;
    margin-top: -110px;
    margin-left: 55px;
    font-family: Poppins;
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;



}

.banner-heading p {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #ECECEC;
    margin-left: 55px;
}

.banner-img {
    height: 625px;
    width: 1442px;
    left: -1px;
    margin-top: 89px;
    border-radius: 0px;
}

.banner-heading {
    padding: 111px;
}

.btn {
    width: 198px;
    height: 47px;
    border-radius: 10px !important;
    margin-left: 52px;
    color: #003145 !important;
    font-family: Poppins !important;
    font-size: 18px;
    font-weight: 600 !important;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    background-color: #FFFFFF !important;
}